body{
    background-color: #000000;
    font-family: "Times New Roman", sans-serif;
    color: #ffffff;
}
h1 {
    padding: 10px;
    text-align: center;
    font-size: 64px;
  }
h2 {
    font-size: 32px;
    text-shadow: 4px 4px 2px #808080;
}
p {
  padding-top: 15px;
  font-size: 24px;
}
img {
  display: block;
  margin: auto;
  width: 550px
}
div {
  min-height: 150px;
  padding: 25px;
}
#red {
  background-color:#ff0000;
  text-align: right;
}
#blue {
  background-color: #0000FF;
  text-align: left;
}
#yellow {
  background-color:#FFFF00;
  text-align: right;
}
#yellow h2 {
  color: #000000;
  text-shadow: 4px 4px 2px #c7e2c7;
}
#yellow p {
  color: #000000;
}
#green {
  background-color:#008000;
  text-align: left;
}
footer p {
  text-align: center;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-top: none;
  padding-left: none;
}
